@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
    
}

header .Projects{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header #toggle{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.banner.active header #toggle:after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner.active{
    transform: translateX(-300PX);
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(../img/background.png);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

#rotbar{
    position: fixed;
    top: 0;
    right: -200px;
    width: 300px;
    height: 100vh;
    background: url(../img/background.png);
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

#rotbar.active{
    right: 0;
}

#robar ul{
    position: relative;
    display: flex;
    flex-direction: column;
}

#rotbar ul li{
    list-style: none;
}

#rotbar ul li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}

.social{
    position: fixed;
    display: flex;
    right: -230px;
    top: 70px;
}

.social li{
    float: left;
    list-style: none;
}

.social li a{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #fff;
    margin: 10px 0 0;
}

.social li a:hover{
    background: #fff;
}

.social li a img{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}
